include ../includes/_header.jade
#pac-input.container.controls.col-md-4.col-sm-4.col-xs-4.col-lg-4
  .row
    form.input-group(ng-submit='startTrace()')
      input.form-control(type="text", ladda='load', placeholder="URL or IP Address" ng-model="url")
      span.input-group-btn
        button.btn.btn-primary(data-style='slide-left', ladda='load') Trace
#map_canvas(map)
include ../includes/_footer.jade
